<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName" />
    <span
      *ngIf="submitted && form.get('firstName')?.hasError('required')"
      style="color: red"
    >
      * First Name is required
    </span>
  </div>
  <div>
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName" />
    <span
      *ngIf="submitted && form.get('firstName')?.hasError('required')"
      style="color: red"
    >
      * First Name is required
    </span>
  </div>

  <button type="submit">Submit</button>
  {{ form.value | json }}
  <hr />
  <app-controle-custom-form formControlName="custom"></app-controle-custom-form>
</form>
